/* portfolio */
.portfolio-wrap {
	background-color: $beige;
}

.portfolio {
	img {
		float: left;
		height: 274px;
		width: 320px;

		@media #{$break-large} {
			width: 33%;
			height: auto;
		}

		@media #{$break-tablet} {
			width: 50%;
			height: auto;
		}

		@media #{$break-mobile} {
			width: 100%;
			height: auto;
		}
	}

	&.section {
		padding: 0;
	}
}
